langchain
langchain-core
langchain-community

huggingface-hub
langchain-ollama
langchain-huggingface

python-dotenv

grandalf
faiss-cpu

sentence-transformers

pypdf
numpy
pydantic
streamlit
scikit-learn
transformers